:root {
  --navbar-background-color: #23232e;
  --navbar-icon-color: #b6b6b6;
  --navbar-icon-color-hover: #ececec;
  --navbar-icon-hover: #141418;
}

[data-theme="light"] {
  --navbar-background-color: #f5f5fd;
  --navbar-icon-color: #222222;
  --navbar-icon-hover: #d5d5d8;
  --navbar-icon-color-hover: #141418;
}

.navbar {
  background-color: var(--navbar-background-color);
  position: fixed;
  transition: width 400ms ease;
  z-index: 998;
}

.navbar-nav {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100%;
}

.navbar-item {
  width: 100%;
}

.navbar-item:last-child {
  margin-top: auto;
}

.navbar-link {
  display: flex;
  align-items: center;
  height: 5rem;
  text-decoration: none;
  filter: grayscale(100%) opacity(0.7);
  transition: 600ms;
  color: var(--navbar-icon-color);
}

.navbar-link:hover {
  filter: grayscale(0%) opacity(1);
  color: var(--navbar-icon-color-hover);
  background-color: var(--navbar-icon-hover);
}

.navbar-text {
  display: none;
  margin-left: 1rem;
}

.navbar-icon {
  width: 2rem;
  min-width: 2rem;
  margin: 0 1.5rem;
}

/* large screens */
@media only screen and (min-width: 600px) {
  .navbar {
    height: 100vh;
    top: 0;
    width: 5rem;
  }

  .navbar:hover {
    width: 16rem;
  }

  .navbar:hover .navbar-text {
    display: inline;
  }
}

/* small screens */
@media only screen and (max-width: 600px) {
  .navbar {
    bottom: 0;
    width: 100vw;
    height: 5rem;
  }

  .navbar-nav {
    flex-direction: row;
  }

  .navbar-link {
    justify-content: center;
  }
}
