:root {
  --settings-background-color: #2c2c39;
  --settings-text-color: #f5f5fd;
}

[data-theme="light"] {
  --settings-background-color: #fdfdfd;
  --settings-text-color: #23232e;
}

.settings-page {
  background-color: var(--settings-background-color);
  color: var(--settings-text-color);
  height: 100vh;
  margin-left: 5rem;
  padding: 1rem;
}

.settings-form-data > h1 {
  font-size: 2rem;
}

.settings-form-data > p {
  font-size: 1.3rem;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}

.form-group > input {
  border-radius: 7px;
  border: none;
  border: 1px solid #3a3a3a;
  padding: 0.3rem;
}

@media only screen and (max-width: 600px) {
  .settings-page {
    margin: 0;
  }
}
